<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title></title>
<meta name="description" content="">
<meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8">
<meta http-equiv="content-style-type" content="text/css">
<meta http-equiv="expires" content="0">
<script type="text/javascript">
<!--

// -->
</script>
</head>
<body bgcolor="#D8D8D8">
	<h2>S&P 500 Daily Dose</h2>
	
	<table cellpadding="10" cellspacing="10" border="2">
		<tr>
		<th>Date</th>
		<th>Close</th>
		<th>%up/%down</th>
		<th>200 DMA</th>
		<th>%up/%down</th>
		</tr>
		
		<tr>
		<td>2011-08-15</td>
		<td>1178.81</td>
		<td>.018</td>
		<td>1264.23</td>
		<td>-.032</td>
		</tr>




	</table>

    <img src="imgs/SP.png" width="800" height="400" border="2">

	
	
</body>
</html>
